n8n/llmwiki_ingestione_automatica.json
{
  "name": "LLMWiki - Ingestione Automatica Raw",
  "nodes": [
    {
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "2",
      "name": "Get Unprocessed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [200, 0],
      "parameters": {
        "method": "GET",
        "url": "http://192.168.0.68:8080/sources/unprocessed"
      }
    },
    {
      "id": "3",
      "name": "Split Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0],
      "parameters": {
        "jsCode": "const unprocessed = $input.first().json.unprocessed || [];\nreturn unprocessed.map(path => ({json: {source_path: path}}));"
      }
    },
    {
      "id": "4",
      "name": "Ingest File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 0],
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.68:8080/ingest/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_path\": \"{{ $json.source_path }}\",\n  \"mode\": \"summary_only\"\n}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Get Unprocessed", "type": "main", "index": 0}]]
    },
    "Get Unprocessed": {
      "main": [[{"node": "Split Items", "type": "main", "index": 0}]]
    },
    "Split Items": {
      "main": [[{"node": "Ingest File", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  }
}
