n8n/llmwiki_chat.json
{
  "name": "LLMWiki - Chat con i Dati",
  "nodes": [
    {
      "id": "chat-1",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "parameters": {
        "public": true,
        "options": {
          "title": "LLMWiki Chat",
          "subtitle": "Fai domande sui documenti della wiki",
          "inputPlaceholder": "Es: Dimmi tutto su..."
        }
      },
      "webhookId": "9e9e944b-9d0c-4335-a532-dc3dfc1f580e"
    },
    {
      "id": "chat-2",
      "name": "Chiama Query API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [260, 0],
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.68:8080/query/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"question\": \"{{ $json.chatInput }}\" }",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "chat-3",
      "name": "Formatta Risposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 0],
      "parameters": {
        "jsCode": "const answer = $input.first().json.answer || '_Nessuna risposta trovata._';\nconst sources = $input.first().json.sources || [];\n\n// Timestamp italiano\nconst now = new Date().toLocaleString('it-IT', { timeZone: 'Europe/Rome' });\n\n// Corpo risposta\nlet md = `## Risposta\\n\\n${answer}`;\n\n// Sezione fonti\nif (sources.length > 0) {\n  md += '\\n\\n---\\n\\n### Fonti consultate\\n\\n';\n  sources.forEach((s, i) => {\n    const filename = s.split('/').pop();\n    md += `${i + 1}. \\`${filename}\\`\\n   _percorso: ${s}_\\n`;\n  });\n} else {\n  md += '\\n\\n---\\n\\n> Nessuna fonte specifica individuata per questa risposta.';\n}\n\n// Footer\nmd += `\\n\\n---\\n_Risposta generata il ${now}_`;\n\nreturn [{ json: { output: md } }];"
      }
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [[{"node": "Chiama Query API", "type": "main", "index": 0}]]
    },
    "Chiama Query API": {
      "main": [[{"node": "Formatta Risposta", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  }
}
